.contenedor{
    width: auto;
    height: auto;
    background-color: rgb(127, 157, 255);
    padding-top: 21%;
    padding-bottom: 21%;
}
.contenedor2{
    width: auto;
    height: auto;
    background-color: rgb(127, 157, 255);
    padding-top: 39%;
    padding-bottom: 39%;
}