.itemlist{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.group{
    display: flex;
    flex-direction: row;
}