.botones{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons1{
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    background-color: white;
    padding:5px;
}
.buttons2{
    border-radius: 10px;
    border: 2px;
    width: 10%;
    border-style: solid;
    background-color: white;
    padding: 8px;
    padding-right: 15px;
}
.cantidad{
    background-color: wheat;
}