.itemlist{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.groups{
    display: flex;
    flex-direction: row;
}