.card{
    margin-top: 50px;
    margin-bottom: auto;
    width: 400px;
    height: 400px;
    align-content: center;
    align-items: stretch;
}
.button{
    box-sizing: border-box;
    width: 80%;
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    border: solid #00badb 5px;
    margin-left: 10%;
    padding: 5px;
}
.title{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(218, 218, 218);
    padding: 5px;
}
.footer{
    box-sizing: border-box;
    width: 100%;
    margin-top:auto;
    padding: 5px;
    
    background-color: rgb(218, 218, 218);
}
.imagen{
    height: 25%;
    width: 25%;
    align-self: center;
    background-color: rgb(218, 218, 218);
}