.navbar{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '90vh'
}
.texto{
    color: #ffffff;
}
.imglogo{
    width: auto;
    height: auto;
}
.imgPic{
    width: 75px;
    height: 75px;
}